<div class="container">
<h2 class="text-center">COUPONS</h2>
<form action="/admin/add-coupon" method="post" enctype="multipart/form-data">
{{!-- <div class="form-group">
    <label for="number">no</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" name="no">
  </div> --}}
  <div class="form-group">
    <label for="name">coupon code</label>
    <input type="name" class="form-control" id="exampleFormControlInput1" name="name">
  </div>
  
  {{!-- <div  class="form-group">
    <label for="exampleFormControlInput1">category</label>
    <input type="text" class="form-control"  id="exampleFormControlInput1" name="category" >
  </div> --}}
   <div class="form-group">
    <label for="name">Date</label>
    <input type="date" class="form-control" id="exampleFormControlInput1" name="date">
  </div>

  
  <div class="form-group">
    <label for="name">Min value </label>
    <input type="name" value="
" class="form-control" id="exampleFormControlInput1" name="minvalue">
  </div>

   <div class="form-group">
    <label for="name">Discount</label>
    <input type="name" class="form-control" id="exampleFormControlInput1" name="Discount">
  </div>
  
  
 
  {{!-- <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
  </div> --}}
 {{!-- <section class="container">
  <h2 class="py-2">Datepicker in Bootstrap 5</h2>
  <form class="row">
    <label for="date" class="col-1 col-form-label">Date</label>
    <div class="col-5">
      <div class="input-group date" id="datepicker">
        <input type="text" class="form-control" id="date"/>
        <span class="input-group-append">
          <span class="input-group-text bg-light d-block">
            <i class="fa fa-calendar"></i>
          </span>
        </span>
      </div>
    </div>
  </form>
</section> --}}
  <button class="btn btn-success" type="submit">submit</button>
</form>


</div>
