

        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bp bp--img u-s-m-b-30">
                                <div class="bp__wrap">
                                    <div class="bp__thumbnail">

                                        <!--====== Image Code ======-->

                                        <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block" href="">

                                            <img class="aspect__img" src="images/blog/blog1.jpg" alt=""></a>
                                        <!--====== End - Image Code ======-->
                                    </div>
                                    <div class="bp__info-wrap">
                                        <div class="bp__stat">

                                            <span class="bp__stat-wrap">

                                                <span class="bp__publish-date">

                                                    <a href="">

                                                        <span>25 February 2022</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__author">

                                                    <a href="">Dayle</a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__comment">

                                                    <a href=""><i class="far fa-comments u-s-m-r-4"></i>

                                                        <span>8</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__category">

                                                    <a href="">Learning</a>

                                                    <a href="">News</a>

                                                    <a href="">Health</a></span></span></div>

                                        <span class="bp__h1">

                                            <a href="">Life is an extraordinary Adventure</a></span>

                                        <span class="bp__h2">A post with the image</span>
                                        <div class="blog-t-w">

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Travel</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Culture</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Place</a></div>
                                        <p class="bp__p">“It’s a nostalgic adventure but there are contemporary themes. It feels timeless in a way, embracing the idea of simplicity in life.”</p>
                                        <div class="gl-l-r">
                                            <div>

                                                <span class="bp__read-more">

                                                    <a href="">READ MORE</a></span></div>
                                            <ul class="bp__social-list">
                                                <li>

                                                    <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                                <li>

                                                    <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp u-s-m-b-30">
                                <div class="bp__wrap">
                                    <div class="bp__thumbnail">

                                        <!--====== Gallery Code ======-->
                                        <div class="slider-fouc">
                                            <div class="owl-carousel post-gallery">
                                                <div>

                                                    <a href="">

                                                        <img class="u-img-fluid" src="images/blog/blog2.3.jpg" alt=""></a></div>
                                                <div>

                                                    <a href="">

                                                        <img class="u-img-fluid" src="images/blog/blog2.2.jpg" alt=""></a></div>
                                                <div>

                                                    <a href="">

                                                        <img class="u-img-fluid" src="images/blog/blog2.1.jpg" alt=""></a></div>
                                            </div>
                                        </div>
                                        <!--====== End - Gallery Code ======-->
                                    </div>
                                    <div class="bp__info-wrap">
                                        <div class="bp__stat">

                                            <span class="bp__stat-wrap">

                                                <span class="bp__publish-date">

                                                    <a href="">

                                                        <span>25 March 2018</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__author">

                                                    <a href="">Admin</a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__comment">

                                                    <a href=""><i class="far fa-comments u-s-m-r-4"></i>

                                                        <span>16</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__category">

                                                    <a href="">Drawing</a>

                                                    <a href="">Design</a>

                                                    <a href="">Illustrator</a></span></span></div>

                                        <span class="bp__h1">

                                            <a href="">Everyone can draw but need passion for it</a></span>

                                        <span class="bp__h2">A post with the gallery</span>
                                        <div class="blog-t-w">

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Creativity</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Art</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Design</a></div>
                                        <p class="bp__p">Drawing is a form of visual art in which an artist uses instruments to mark paper or other two-dimensional surface. Drawing instruments include graphite pencils, pen and ink, various kinds of paints</p>
                                        <div class="gl-l-r">
                                            <div>

                                                <span class="bp__read-more">

                                                    <a href="">READ MORE</a></span></div>
                                            <ul class="bp__social-list">
                                                <li>

                                                    <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                                <li>

                                                    <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp u-s-m-b-30">
                                <div class="bp__wrap">
                                    <div class="bp__thumbnail">

                                        <!--====== Embed Audio Soundcloud ======-->
                                        <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/532448574&amp;color=%23333333&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                                        <!--====== End - Embed Audio Soundcloud ======-->
                                    </div>
                                    <div class="bp__info-wrap">
                                        <div class="bp__stat">

                                            <span class="bp__stat-wrap">

                                                <span class="bp__publish-date">

                                                    <a href="">

                                                        <span>25 April 2018</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__author">

                                                    <a href="">John</a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__comment">

                                                    <a href=""><i class="far fa-comments u-s-m-r-4"></i>

                                                        <span>99</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__category">

                                                    <a href="">Soundcloud</a>

                                                    <a href="">Lyrics</a></span></span></div>

                                        <span class="bp__h1">

                                            <a href="">EDM is only dance-floor oriented it has no emotions</a></span>

                                        <span class="bp__h2">A post with the embed audio</span>
                                        <div class="blog-t-w">

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">EDM</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Trance</a></div>
                                        <p class="bp__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <div class="gl-l-r">
                                            <div>

                                                <span class="bp__read-more">

                                                    <a href="">READ MORE</a></span></div>
                                            <ul class="bp__social-list">
                                                <li>

                                                    <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                                <li>

                                                    <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp u-s-m-b-30">
                                <div class="bp__wrap">
                                    <div class="bp__thumbnail">

                                        <!--====== Audio ======-->
                                        <audio controls>
                                            <source src="audio/1.mp3"></audio>
                                        <!--====== End - Audio ======-->
                                    </div>
                                    <div class="bp__info-wrap">
                                        <div class="bp__stat">

                                            <span class="bp__stat-wrap">

                                                <span class="bp__publish-date">

                                                    <a href="">

                                                        <span>25 June 2018</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__author">

                                                    <a href="">Doe</a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__comment">

                                                    <a href=""><i class="far fa-comments u-s-m-r-4"></i>

                                                        <span>15</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__category">

                                                    <a href="">Genre</a>

                                                    <a href="">Song</a></span></span></div>

                                        <span class="bp__h1">

                                            <a href="">Pop Genre only focusing on stupidity</a></span>

                                        <span class="bp__h2">A post with the audio</span>
                                        <div class="blog-t-w">

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Pop</a></div>
                                        <p class="bp__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <div class="gl-l-r">
                                            <div>

                                                <span class="bp__read-more">

                                                    <a href="">READ MORE</a></span></div>
                                            <ul class="bp__social-list">
                                                <li>

                                                    <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                                <li>

                                                    <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp u-s-m-b-30">
                                <div class="bp__wrap">
                                    <div class="bp__thumbnail">

                                        <!--====== Video ======-->


                                         <div class="bp__thumbnail">

                                        <!--====== Embed Video Youtube ======-->
                                        
                                        <iframe src="https://www.youtube.com/embed/tEzALXZCXX0" allowfullscreen></iframe>
                                        <!--====== End - Embed Video Youtube ======-->
                                    </div>
                                        {{!-- <div class="post-video-block">

                                            <a class="post-video-link"></a><video class="post-video" 
                                                                                    <iframe src="https://www.youtube.com/embed/qKqSBm07KZk" allowfullscreen></iframe>

                                            src="video/video-sample.mp4" poster="video/video-thumbnail.jpg"></video></div> --}}
                                        <!--====== End - Video ======-->
                                    </div>
                                    <div class="bp__info-wrap">
                                        <div class="bp__stat">

                                            <span class="bp__stat-wrap">

                                                <span class="bp__publish-date">

                                                    <a href="">

                                                        <span>25 July 2018</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__author">

                                                    <a href="">Doe</a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__comment">

                                                    <a href=""><i class="far fa-comments u-s-m-r-4"></i>

                                                        <span>56</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__category">

                                                    <a href="">Video</a>

                                                    <a href="">Camera</a></span></span></div>

                                        <span class="bp__h1">

                                            <a href="">Save your movement on a camera</a></span>

                                        <span class="bp__h2">A post with the video</span>
                                        <div class="blog-t-w">

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Camera</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Recording</a></div>
                                        <p class="bp__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <div class="gl-l-r">
                                            <div>

                                                <span class="bp__read-more">

                                                    <a href="">READ MORE</a></span></div>
                                            <ul class="bp__social-list">
                                                <li>

                                                    <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                                <li>

                                                    <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp">
                                <div class="bp__wrap">
                                    <div class="bp__thumbnail">

                                        <!--====== Embed Video Youtube ======-->
                                        <iframe src="https://www.youtube.com/embed/qKqSBm07KZk" allowfullscreen></iframe>
                                        <!--====== End - Embed Video Youtube ======-->
                                    </div>
                                    <div class="bp__info-wrap">
                                        <div class="bp__stat">

                                            <span class="bp__stat-wrap">

                                                <span class="bp__publish-date">

                                                    <a href="">

                                                        <span>25 August 2018</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__author">

                                                    <a href="">John</a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__comment">

                                                    <a href=""><i class="far fa-comments u-s-m-r-4"></i>

                                                        <span>4</span></a></span></span>

                                            <span class="bp__stat-wrap">

                                                <span class="bp__category">

                                                    <a href="">Youtube</a>

                                                    <a href="">Videos</a></span></span></div>

                                        <span class="bp__h1">

                                            <a href="">Oh No! 1 Trillion Videos</a></span>

                                        <span class="bp__h2">A post with the embed video</span>
                                        <div class="blog-t-w">

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Recording</a>

                                            <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="">Freetime</a></div>
                                        <p class="bp__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                        <div class="gl-l-r">
                                            <div>

                                                <span class="bp__read-more">

                                                    <a href="">READ MORE</a></span></div>
                                            <ul class="bp__social-list">
                                                <li>

                                                    <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                                <li>

                                                    <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav class="post-center-wrap u-s-p-y-60">

                                <!--====== Pagination ======-->
                                {{!-- <ul class="blog-pg">
                                    <li class="blog-pg--active">

                                        <a href="">1</a></li>
                                    <li>

                                        <a href="">2</a></li>
                                    <li>

                                        <a href="">3</a></li>
                                    <li>

                                        <a href="">4</a></li>
                                    <li>

                                        <a class="fas fa-angle-right" href=""></a></li>
                                </ul> --}}
                                <!--====== End - Pagination ======-->
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
       